.middle-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://images2.alphacoders.com/106/1061949.jpg'); 
    background-size: cover; 
    background-position: auto; 
    background-repeat: no-repeat; 
    color: white;
    padding: 550px; 
}

.middle-section-content article{
    display: inline;
    margin-bottom: 60px;
    position: absolute;
    top: 250px;
    left: 250px;
}

.middle-section-content article h2{
    font-size: 55px;
    color: #f22050;
}

.middle-section-content article h3{
    font-size: 30px;
    padding-bottom: 30px;
}


.middle-section-ul li {
    margin-bottom: 10px; 
    font-size: 18px;
}

.middle-section-footer {
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #4B4453;

  }

  .middle-section-footer article{
    margin: 5px; 
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 150px;
  }
  .middle-section-footer article h2{
    color: white;
  }

  .middle-section-footer article h3{
    font-size: 25px;
    color: white;
  }

  .middle-section-footer article p{
    max-width: 700px;
    font-size: 15px;
    text-align: justify;
    color: white;
  }

  .sign-off{
    margin-left: 1400px;
  }

  .game-collection-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-top: 250px;
    padding-left: 520px;
  }

  .game-collection-button button{
    width: 300px;
    height: 50px;
    font-size: 17px;
  }