.middle-section{
    background-image: url('https://images2.alphacoders.com/106/1061949.jpg'); 
    background-size: cover; 
    background-position: auto; 
    background-repeat: no-repeat; 
    color: white;
    padding: 650px; 
}