.game-collection-section{
    padding: 300px;
    background-image: url('https://img.freepik.com/free-photo/person-facing-purgatory-world-illustration_456031-40.jpg?w=1380&t=st=1701444366~exp=1701444966~hmac=e4df5c6687295f41dbbed34f36bdc163f8df29ce4fb40b99d2f279b0904a488c'); 
    background-size: cover; 
    background-position: auto; 
    background-repeat: no-repeat; 
  }

.games-appearing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}