.game-collection-section{
    padding: 300px;
    background-image: url('https://cdna.artstation.com/p/assets/images/images/005/045/964/large/omer-tunc-sds-copy.jpg?1488121413'); 
    background-size: cover; 
    background-position: auto; 
    background-repeat: no-repeat; 
  }

.games-appearing{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.game-time-stat-button-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.game-time-stat-button-container button{
    width: 380px;
    height: 60px;
    font-size: 18px;
}
