.header-section{
    background-color: #4B4453;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.header-container{
    display: flex;
    gap: 150px;
}

.header-media{
    padding: 10px;
}

.header-media img {
    width: 120px; 
    position: absolute;
    top: 0px;
    left: 80px;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-text {
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 8px;
    background-color: #B0A8B9
  }

button {
    padding: 10px 12px;
    border: none;
    border-radius: 4px;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f;
}

.header-ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 70px;
    margin-left: 300px;
   
}


.header-ul li:hover {
    background-color: #B0A8B9;
    border-radius: 5px;
    height: 20px;
}


.header-ul li a{
    color: red;
}

.user-name{
    color: #d32f2f;;
}

.not-found-animation {
    animation-name: notFoundAnimation;
    animation-duration: 0.5s;
    animation-iteration-count: 2; 
}

@keyframes notFoundAnimation {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}

.game-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.game-modal-content {
    background-color: #4B4453;
    padding: 200px;
    border-radius: 5px;
    max-width: 700px
}

.game-list-modal {
    list-style: none;
   
}

.game-item-modal {
    cursor: pointer;
    padding: 15px 0; 
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
}


.game-item-modal:hover {
    text-decoration: underline;
}


.game-title-modal {
    font-size: 25px; 
    color: white;
    margin-bottom: 0;
    line-height: 1.5;
}

.close-button-modal-container{
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-button-modal {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}